@import url(base.css);

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0px;
    border: none !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input{
    outline: none !important;
    border: none;
}

.rocket {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stars{
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress-bar{
  max-width:450px;
}

.dot, .line, .title{
  transition: color .5s ease-in-out;
}

.active-dot, .active-line{
    background-color: #25B8DE;
    
}

.active-title{
    color: #25B8DE;
    
}

.line{
    right: 90%;
    z-index: -1;
    top: 25%;
    transform: translate(0%, -50%);
    width: 250%;
}

/* CUSTOM SELECT */
.custom-select {
    position: relative;
    font-family: Arial;
    border-radius: 5px;
  }

.custom-select select{
    display: none; /*hide original SELECT element:*/
  }

.custom-select .select-selected {
    background-color: #E7EBED;
    border-radius: 5px;
    color: #BFC9CE;
}

/*style the arrow inside the select element:*/
.custom-select .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: #25B8DE transparent transparent transparent;
    border-radius: 5px;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #25B8DE transparent;
    top: 10px;
  }

  /*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    font-family: Poppins;
    color: #6d6d6d;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
  }

  .select-items div{
    border: 1px solid #cccccc;
    border-top: none;
  }

  /*style items (options):*/
.select-items {
    position: absolute;
    background-color: #E7EBED;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    color: #BFC9CE;
    border-top: 1px solid #cccccc;
    max-height: 300px;
    overflow-y: scroll;
  }

  /*hide the items when the select box is closed:*/
.select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    color: #6d6d6d;
  }

/* END CUSTOM SELECT */

 

/* CHECKBOX */
.main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    text-align: left !important;
}
input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: 0;
}
.mark {
    position: absolute;
    top: 25%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #25B8DE;
    border-radius: 5px;
}
.main input:checked ~ .mark {
    background-color: #25B8DE;
}
.mark:after {
    content: "";
    position: absolute;
    display: none;
}
.main input:checked ~ .mark:after {
    display: block;
}
.main .mark:after {
    left: 6px;
    bottom: 5px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* END CHECKBOX */

/* RADIO CUSTOM */
.radio {
  --border-radius: 50%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio input[type="radio"]{
  display: none;
}

.radio label{
  position: relative;
  
  display: inline-block;
  
  width: 20px;
  height: 20px;
  
  border: 3px solid #37C8EE;
  border-radius: var(--border-radius);
  
  box-sizing: border-box;
}

.radio label::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  
  width: 10px;
  height: 10px;
  
  border-radius: var(--border-radius);
  
  background-color: transparent;
  
  transform: translate(-50%, -50%);
  
  transition: background-color 0.25s;
}

.radio :checked ~ label::before{
  background-color: #37C8EE;
}

.radio span{
  vertical-align: top;
  
  transition: color 0.25s;
}
/* END RADIO */

form:not(.login){
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

::-webkit-calendar-picker-indicator {
  filter: invert(58%) sepia(91%) saturate(525%) hue-rotate(153deg) brightness(93%) contrast(86%);
}

input::placeholder{
  color: rgba(32, 32, 32, 0.2);
}

.border-error{
  border: 1px solid #E05260;
  box-shadow: 0px 0px 4px #E05260;
}
.msg-error{
  color: #E05260 !important;
}

.section{
  transition: all 1s ease;
  right: 0;
  left: 0;
}

.left-section{
  transform: translate(-200%, 0);
}

.right-section{
  transform: translate(200%, 0);
}

.modal{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition:  all .3s linear;
}

.pop-up{
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  visibility: visible;
  opacity: 1;
  transition:  opacity .3s linear;
}

.is-visible .modal{
  transition:  all .3s linear;
  transform: translate(-50%, -50%);
}

.failed-notif {
  background: linear-gradient(90deg, #E76857 0%, #FF9A8D 101%);
}


@media all and (max-width: 1280px) {
  .line{
    width: 200%;
}
}

@media all and (max-width: 1024px) { }

@media all and (max-width: 768px) { }

@media all and (max-width: 480px) { }