/* div, img {
    border: 1px solid rgba(255, 0, 0);
} */


input::placeholder{
    color: rgba(32, 32, 32, 0.3);

}

input{
    border-radius: 1rem 0px 0px 1rem !important;
    border: 1px transparent;
}

.social img{
    width: 50px;
    height: 50px;
}

.social span{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* padding: -10px; */
    transition: 0.3s;
}

.social span:hover{
    cursor: pointer;
    box-shadow:0 0 10px .5px  #FBFBFB;
    /* -moz-box-shadow:0 0 3px 5px  #FBFBFB;
    -webkit-box-shadow:0 0 3px 5px  #FBFBFB; */
    transition: 0.3s;
}

button:hover{
    box-shadow:0 0 15px 3px  #FBFBFB;
    transition: 0.3s;
}

button{
    border-radius: 0px 1rem 1rem 0px;
    transition: 0.3s;
}


@media (max-width: 1024px) {
    .flip-clock-wrapper ul {
        width: 4.2rem;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 4rem;
    }
    .rocket {
        width: 22rem;
        bottom: 0%;
        left: 0%;
        overflow: hidden;
    }

    .time {
        width: 40rem;
    }
}
@media (max-width: 640px) {
    .mail-cont {
        width: fit-content !important;
    }

    input{
        border-radius: 0.6rem 0px 0px 0.6rem !important;
    }

    button{
        border-radius: 0px 0.6rem 0.6rem 0px;
    }

    .flip-clock-wrapper ul {
        width: 3.5rem;
        height: 6.2rem;
    }

    .flip-clock-wrapper ul li a div div.inn {
        font-size: 3.8rem;
    }

    .time {
        width: 24rem;
    }
    .relative .clock ul:nth-child(11),
    .relative .clock ul:nth-child(12),
    .relative .clock .seconds,
    .sec {
        display: none !important;
    }

    .flip-clock-divider {
        width: 10px;
    }

    .rocket {
        width: 60%;
        left: 28%;
    }

}
