.stars{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
}

label{
    width:160px;
}

.flip-clock-wrapper ul.flip:nth-child(2) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(3) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(5) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(6) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(8) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(9) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(11) li a div div.inn,
.flip-clock-wrapper ul.flip:nth-child(12) li a div div.inn
{
    background : #CDD8DD;
}

.flip-clock-wrapper ul.flip .inn{
    color: #0054A5 !important;
}

.flip-clock-wrapper .flip{  
    box-shadow: none;
}

.flip-clock-dot{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.flip-clock-label{
    display: none;
}

.rocket{
    animation: float-from-bottom 4s ease-in-out infinite !important;
    bottom: 5%;
}

@keyframes float-from-bottom {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}
