@import url(base.css);
div {
    /* border: 1px solid rgba(255, 0, 0, 1) */
}

html {
    scroll-behavior: smooth;
}

.arrow,
a,
.top {
    cursor: pointer;
}

html {
    /* scroll-behavior: smooth; */
}
/* Landing */
#navbar{
    transition: all 0.5s;
}

.scrollUp{
    transform: translateY(-100%);
}

.change-bg {
    color: #37C8EE ;
    background: #FBFBFB;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
}

.nav-login:hover {
    background-color: #37C8EE;
    color: #FBFBFB;
}

.addFilter{
    filter: brightness(0) saturate(100%) invert(64%) sepia(90%) saturate(617%) hue-rotate(157deg) brightness(97%) contrast(92%);
}

.btnReg {
    transition: 0.3s;
}

.landing .arrow {
    animation: float-from-top 2s ease-in-out infinite;
}

@keyframes float-from-top {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* About */
.about .text-orange {
    text-align: center;
    margin-bottom: 0px;
}

.about .glass img {
    width: 11.5rem;
}

.about .glass div:not(:last-child) {
    margin-bottom: 10px;
}

.about .carousel-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38rem;
}

.about .carousel-wrapper {
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.about .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.about .glass {
    opacity: 0;
    position: absolute;
    z-index: -3;
    width: 180px;
    height: 245px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    color: var(--white);
    text-align: center;

    border-radius: 20px;
    background: #E5E7E9;
    background-position: center;
    backdrop-filter: blur(40px);
    outline: none;
    overflow: hidden;
    border: var(--glass-border);
    /* border-radius: 32px; */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invisibleJoin {
    display: none !important;
}

.leftJoin {
    opacity: 1 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-125%, -50%) !important;
    /* z-index: -1 !important; */

    transition-property: width, height, transform, filter, font-size;
    -moz-transition-property: width, height, transform, filter, font-size;
    -webkit-transition-property: width, height, transform, filter, font-size;
    -o-transition-property: width, height, transform, filter, font-size;

    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

.rightJoin {
    opacity: 1 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(25%, -50%) !important;

    transition-property: width, height, transform, filter, font-size;
    -moz-transition-property: width, height, transform, filter, font-size;
    -webkit-transition-property: width, height, transform, filter, font-size;
    -o-transition-property: width, height, transform, filter, font-size;

    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

.behindJoin {
    opacity: 0 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: -5 !important;

    transition-property: width, height, transform, filter, font-size;
    -moz-transition-property: width, height, transform, filter, font-size;
    -webkit-transition-property: width, height, transform, filter, font-size;
    -o-transition-property: width, height, transform, filter, font-size;

    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

.activeJoin {
    opacity: 1 !important;
    z-index: 5 !important;
    /* width: 350px !important;
	height: 550px !important; */
    border-radius: 20px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1.3) !important;

    transition-property: width, height, transform, filter, font-size;
    -moz-transition-property: width, height, transform, filter, font-size;
    -webkit-transition-property: width, height, transform, filter, font-size;
    -o-transition-property: width, height, transform, filter, font-size;

    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

.basic-transition {
    transition-property: width, height, transform, filter, font-size, opacity;
    -moz-transition-property: width, height, transform, filter, font-size,
        opacity;
    -webkit-transition-property: width, height, transform, filter, font-size,
        opacity;
    -o-transition-property: width, height, transform, filter, font-size, opacity;

    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;

    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

.activeJoin img {
    filter: none !important;
    mix-blend-mode: normal !important;
}

.activeJoin .title {
    /* font-size: 1.5rem !important; */
}

.activeJoin .text {
    /* font-size: 1rem !important; */
}

.backJoin {
    z-index: -10 !important;
}

.about .next,
.about .prev {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    filter: none;
}

.about .next:hover,
.about .prev:hover {
    filter: invert(64%) sepia(99%) saturate(560%) hue-rotate(157deg) brightness(96%) contrast(94%);
}

.about .next-container {
    height: fit-content;
    margin: auto 0;
    margin-left: 5vw;
}

.about .prev-container {
    height: fit-content;
    margin: auto 0;
    margin-right: 5vw;
}

.about .dots-container {
    margin: 0 auto;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.about .dots {
    width: 40px;
    border: 3px solid #CDD8DD;
    border-radius: 5px;
}

.activeJoinDots {
    height: 10px;
    background: #0054A5;
    border-radius: 5px;
}

/* ff */
.ff-img {
    filter: grayscale(100%);
    transition: 0.5s;
}

/* why bncc */
.card-why {
    width: 20rem;
    height: 27rem;
}

/* Our courses */
.ocBtn {
  transition: 0.3s;
  fill: #B5B7B8;
}

.ocBtn:hover {
    cursor: pointer;
    fill: #37C8EE;
    transition: 0.3s;
}

.ocBtn-active {
    fill: #FBFBFB;
}

.ocBox-active {
    background-color: #37C8EE;
}

.ocBtn-active:hover {
    fill: #FBFBFB !important;
}

.ocBigBox {
    min-height: 25rem;
}

.ocCon {
    display: none;
    opacity: 0;
}

.ocCon-active {
    display: flex;
    animation: fade-in 1000ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.oc .oc-tags-cont {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.oc .oc-tags {
    margin: 1rem 1rem;
}

/* FAQ */
.top {
    border: 2px solid #DADEDF;
    border-radius: 24px;
    transition: 0.3s;
}

.top-active {
    border-radius: 24px 24px 0px 0px;
    transition: 0.3s;
}

.arrow {
    transition: 0.3s;
}

.arrow-active {
    transform: rotate(180deg);
    transition: 0.3s;
}

.bot {
    display: none;
    border-radius: 0px 0px 24px 24px;
}

/* Bose */
.bose .card {
    width: 31rem;
    height: min-content;
    margin: 1rem 0.5rem;
}

/* Say */
.say-pic-active{
    box-shadow:5px 14px 13px #CDCDCD;
    transition: all .5s ease-in-out;
}

.say-card{
    opacity: 0;
}

.say-card-visible{
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}

.event-sec{
    height: 600px;
}

/* Footer */
.footer-sec{
    height:1400px;
}

.footer-content{
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.footer-sec .got-question{
    width: 450px;
}

.footer-sec .contact-cont{
    width: 800px;
}

.footer-sec .social img{
    width: 50px;
    height: 50px;
}

.footer-sec .social a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.footer-sec .social a:hover{
    cursor: pointer;
    box-shadow:0 0 10px .5px  #FBFBFB;
    transition: 0.3s;
}

/* Carousel Event */
/* Event CSS */
.carousel-event .layer{
    background: linear-gradient(179.23deg, rgba(0, 0, 0, 0) 46.65%, rgba(0, 0, 0, 0.54) 101.2%);
}
.carousel-event .arrow-cont.prev{
    background: linear-gradient(88.13deg, rgba(0, 0, 0, 0.3) -2.23%, rgba(0, 0, 0, 0) 91.21%);
    transition: all .5s ease-in-out;

}
.carousel-event .arrow-cont.prev:hover{
    background: linear-gradient(88.13deg, rgba(255, 255, 255, 0.4) -2.23%, rgba(255, 255, 255, 0) 96.08%);
    transition: all .5s ease-in-out;

}
.carousel-event .arrow-cont.next{
    background: linear-gradient(88.13deg, rgba(0, 0, 0, 0.3) -2.23%, rgba(0, 0, 0, 0) 91.21%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: all .5s ease-in-out;

}
.carousel-event .arrow-cont.next:hover{
    background: linear-gradient(88.13deg, rgba(255, 255, 255, 0.4) -2.23%, rgba(255, 255, 255, 0) 96.08%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: all .5s ease-in-out;
}
.carousel-event .slide{
    left:0;
    transition: all .5s linear;
    z-index: 5;

}
.carousel-event .slide-right{
    transform: translate(100%, 0);
    transition: all .5s linear;
    z-index: 4;

}
.carousel-event .slide-left{
    transform: translate(-100%, 0);
    transition: all .5s linear;
    z-index: 4;

}
.carousel-event .slide-behind{
    left:0;
    z-index: -1 !important;
}
.dot-cont-event div{
    background: #CDD8DD;
    transition: all 1s ease-in-out;
}
.dot-cont-event .on{
    background: #0054A5 !important;
    transition: all 1s ease-in-out;
}

@media all and (max-width: 1279px) {
    #navbar {
        padding: 0 3rem;
        /* width: 90%; */
    }

    .bose .card {
        width: 27rem;
    }
    /* Fun fact */
    .ff .pr-12,
    .ff .pr-24 {
        padding: 0rem;
    }

    .ff .ml-16 {
        margin: 0rem;
    }

    .about,
    .vc,
    .ff,
    .why,
    .oc,
    .bose,
    .faq {
        padding: 0rem 3rem;
    }

    .about {
        padding: 3rem 3rem;
    }
}

@media all and (max-width: 1023.5px) {
    #navbar {
        padding: 0 0rem;
        width: 100%;
    }
    .change-bg{
        color: white !important;
    }
    .addFilter.profile{
        filter: none;
    }
    .menu-cont{
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background-color: rgba(0, 84, 165, 1);
        width: 300px;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(200%, 0);
        padding: 50px 30px;
        transition: transform .5s ease-in-out;
        z-index: 999999;
    }

    .menu-cont.active{
        transform: translate(0, 0);
        right: 0;
    }

    #navbar .font-extrabold {
        font-size: 3rem;
    }

    /* About */
    .about .glass img {
        width: 8rem;
    }
    .about .carousel-cont {
        width: 25rem;
        margin-top: 1rem;
    }

    .about .carousel-wrapper {
        width: 350px;
        height: 320px;
    }

    .about .main-container {
        padding: 0rem;
    }

    .about .glass {
        width: 120px;
        height: 160px;
    }

    .about .dots-container {
        margin-top: 0rem;
    }
    /* why */
    .card-why {
        max-width: 18rem;
        height: 24rem;
        padding: 3rem 0.8rem;
        margin: 0.5rem 0.2rem;
    }

    .card-why img {
        width: 7rem;
    }

    .card-why h2 {
        font-size: 1.2rem;
        padding: 0.5rem 0rem;
    }

    .card-why .text-base {
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 0rem 0.5rem;
    }

    .menu-cont.active{
        transform: translate(0, 0);
        right: 0;
    }


    /* Landing */
    .landing .stars {
        display: none;
    }

    .landing .stars-tab {
        display: block;
    }

    .landing .arrow {
        width: 2rem;
    }
    .landing .arrowcont {
        bottom: 0.4rem;
    }

    .navbar-desk {
        display: none;
    }

    /* vc */
    .vc .video {
        height: 24rem;
    }

    /* why */
    .card-why {
        max-width: 18rem;
        height: 24rem;
        padding: 3rem 0.8rem;
        margin: 0.5rem 0.2rem;
    }

    .card-why img {
        width: 7rem;
    }

    .card-why h2 {
        font-size: 1.2rem;
        padding: 0.5rem 0rem;
    }

    .card-why .text-base {
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 0rem 0.5rem;
    }

    /* Our Courses */
    .oc {
        padding: 0rem 3rem;
    }

    .oc .btnCont .ocBox {
        padding: 0.5rem;
    }

    .oc .oc-tags {
        width: 7rem;
        margin: 0rem 0.2rem;
    }

    /* Bose */
    .bose .card {
        width: 19rem;
        padding: 1rem;
    }

    /* faq */
    .faq .ques .top .arrow {
        margin-left: 1rem;
    }

    .faq .ques .top h1 {
        font-size: 1.4rem;
    }

    .faq .ques .bot {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    /* Footer */
    .footer-sec {
        height: 1250px;
    }
    .footer-content{
        top: 20%;
    }
   .gotaq-cont{
       width: 100%;
       padding: 0 10px;
   }
   .footer-sec .contact-cont{
       width: 100%;
   }
    .footer-sec .got-question{
        width: 100%;
    }

}

@media all and (max-width: 767px) {
    /* ff */
    .ff .boxCont .w-32 {
        width: 6rem;
        padding: 1rem;
    }
    .ff .boxCont .w-32 img {
        width: 4rem;
    }
    .ff .boxCont .font-regular {
        font-size: 1rem;
    }

    /* why */
    .card-why {
        max-width: 15rem;
        height: 20rem;
        padding: 1.5rem 0rem;
        margin: 0.5rem 0.2rem;
    }

    .card-why img {
        width: 4.5rem;
    }

    .card-why h2 {
        font-size: 1rem;
        padding: 0.5rem 0rem;
    }

    .card-why .text-base {
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 0rem 0.5rem;
    }

    .vc,
    .ff,
    .why,
    .oc,
    .bose,
    .faq {
        padding: 0rem 1rem;
    }

    .about {
        padding: 3rem 1rem;
    }

    /* vc */
    .vc .video {
        height: 18rem;
    }


    /* Our Courses */
    .ocBigBox {
        padding: 3rem 0rem;
    }

    .oc .ocBigBox .oc-tags {
        margin: 0rem 0.2rem;
    }

    .oc .oc-tags {
        width: 7rem;
        margin: 0rem 1rem;
    }

    .oc .btnCont .ocBox {
        margin: 0.3rem 0.5rem;
    }

    /* Bose */
    .bose .card {
        width: 25rem;
        padding: 1rem;
    }



    .what .text-base{
        font-size: .8rem;
        line-height: 1.2rem;
    }


    /* Faq */
    .faq .ques .top {
        padding: 1.5rem 2rem;
    }

    .faq .ques .top h1 {
        font-size: 1.2rem;
    }

    .faq .ques .bot {
        padding: 1.2rem 2.5rem;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    /* Footer */
    .footer-sec .contact-cont{
        max-width: 500px;

    }
    .footer-sec{
        height: 1400px;
        /* width: 90vw; */
    }
    .footer-content{
        top: 13%;
        width: 90vw;
    }

}

@media all and (max-width: 479px) {
    .menu-cont{
        width: 250px;
    }

    /* Landing */
    .landing .stars-mobile {
        display: block;
    }
    .landing .stars-tab {
        display: none;
    }
    .landing .cloud {
        bottom: 0rem;
    }
    .landing .arrow {
        width: 1.5rem;
    }
    .landing .arrowcont {
        bottom: 0.1rem;
    }

    /* About */
    .about .glass img {
        width: 6rem;
    }
    .about .carousel-cont {
        width: 18rem;
        margin-top: 1rem;
    }

    .about .carousel-wrapper {
        height: 250px;
    }

    .about .main-container {
        padding: 0rem;
    }

    .about .glass {
        width: 95px;
        height: 125px;
    }

    .about .next,
    .about .prev {
        width: 25px;
        height: 25px;
        position: relative;
        cursor: pointer;
    }

    /* vc */
    .vc .video {
        height: 14rem;
    }

    /* ff */
    .ff .boxCont .w-32 {
        width: 5rem;
    }
    .ff .boxCont .w-32 img {
        width: 3rem;
    }

    /* why */
    .card-why {
        max-width: 8.6rem;
        height: 14rem;
        margin: 0.2rem 0.2rem;
        padding: 1rem 0rem;
        border-radius: 12px;
    }

    .card-why img {
        width: 2.5rem;
    }

    .card-why h2 {
        font-size: 0.9rem;
        padding: 0.5rem 0rem;
    }

    .card-why .text-base {
        font-size: 0.6rem;
        line-height: 0.9rem;
        padding: 0rem 0.8rem;
    }

    /* oc */
    .oc .ocBigBox {
        min-height: 24rem;
        padding: 1rem 0rem;
    }
    .oc .ocCon {
        padding: 1rem 0rem;
    }

    .oc .ocCon img {
        width: 5rem;
    }

    .oc .ocCon .text-3xl {
        text-align: center;
        font-size: 1.2rem;
    }

    .oc .ocCon .px-16{
        padding: 0rem 0.5rem;
        font-size: 0.9rem;
    }

    .oc .ocBigBox .oc-tags {
        font-size: 0.8rem;
        margin: 0.2rem;
        padding: 0.2rem 0.4rem;
    }

    .oc .btnCont {
        min-height: 4rem;
        padding: 0rem;
    }

    .oc .btnCont .ocBox {
        padding: 0.5rem;
        margin: 0.2rem 0.2rem;
    }

    .oc .btnCont .ocBox .ocBtn{
        width: 40px;
    }

    .oc .oc-text {
        padding: 1rem;
        font-size: 0.8rem;
    }

    /* ff */
    .ff .boxCont .font-regular  {
        font-size: 0.8rem;
    }
    .ff .shadow-bsFf {
        padding: 0.5rem;
        margin: 0rem 0.2rem 0rem 0rem;
        width: 4rem;
    }

    .ff-img {
        width: 4rem;
    }

    /* Bose */
    .bose .card {
        width: 16rem;
        padding: 1rem;
        margin: 0.8rem 0rem;
    }

    .bose .card h2 {
        font-size: 1.2rem;
    }
    .bose .card .font-bold + .text-cBlackHome {
        font-size: 0.8rem;
    }
    .bose-cc {
        font-size: 0.8rem;
    }
    .bose-cs {
        font-size: 0.9rem;
    }

    /* Faq */
    .faq .ques .top {
        padding: 1rem 1rem;
    }

    .faq .ques:not(:first-child) {
        margin: 1rem 0rem 0rem 0rem;
    }

    .faq .ques .top h1 {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .faq .ques .top .arrow {
      margin: 0px 0px 0px 0.5rem;
      width: 1.5rem;
    }

    .faq .ques .bot {
        padding: 1.2rem 1rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

     /* Say */
     .say-button-cont{
         width: 300px;
         margin: 0 auto;
         flex-wrap: wrap;
         padding-top: 50px;
     }

    /* footer */
    .footer .social img, .footer .social .w-12{
        width: 40px;
        height:40px;
    }
    .footer-sec{
        height: 1500px;
    }
    .footer .card{
        /* padding: 15px 10px !important; */
    }
    .footer .card div:not(.font-bold){
        font-size: .7rem !important;
    }
    .footer .card .mr-10{
        /* margin-right: 10px; */
    }
    .footer .card img{
        width: 20px;
        margin-right: 10px;
    }
    .footer .socmed-cont{
        width:100% !important;
    }
    .footer .mlg-bdg{
        flex-direction: column;
    }
    .footer .mlg-bdg div{
        width:100%;
        margin: inherit 0;
    }

    .say .text-sm,
    #navbar .text-sm,
    .oe .text-sm,
    .footer .text-sm{
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .say .text-base,
    #navbar .text-base,
    .oe .text-base,
    .footer .text-base{
        font-size: .875rem;
        line-height: 1.25rem;
    }
    .say .text-lg,
    #navbar .text-lg,
    .oe .text-lg,
    .footer .text-lg{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .say .text-xl,
    #navbar .text-xl,
    .oe .text-xl  ,
    .footer .text-xl{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .say .text-2xl,
    #navbar .text-2xl,
    .oe .text-2xl,
    .footer .text-2xl{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .say .text-3xl,
    #navbar .text-3xl,
    .oe .text-3xl,
    .footer .text-3xl{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .say .text-4xl,
    #navbar .text-4xl,
    .oe .text-4xl,
    .footer .text-4xl{
        font-size: 1.7rem;
        line-height: 2rem;
    }

}
